<table class="AllBorders">
    <tr>
        <td>MessageChannel</td>
        <td>{{Chat?.messageChannel?.peer.id}}</td>
    </tr>
    <tr>
        <td>VideoCallChannel</td>
        <td>{{Chat?.videoCallChannel?.peer.id}}</td>
    </tr>
    <tr>
        <td>ScreenShareChannel</td>
        <td>{{Chat?.screenShareChannel?.peer.id}}</td>
    </tr>
    <tr>
        <td>FileShareChannelOne</td>
        <td>{{Chat?.fileShareChannelOne?.peer.id}}</td>
    </tr>
    <tr>
        <td>FileShareChannelTwo</td>
        <td>{{Chat?.fileShareChannelTwo?.peer.id}}</td>
    </tr>
    <tr>
        <td>FileShareChannelThree</td>
        <td>{{Chat?.fileShareChannelThree?.peer.id}}</td>
    </tr>
    <tr>
        <td>FileShareChannelFour</td>
        <td>{{Chat?.fileShareChannelFour?.peer.id}}</td>
    </tr>
    <tr>
        <td>FileShareChannelFive</td>
        <td>{{Chat?.fileShareChannelFive?.peer.id}}</td>
    </tr>
</table>