<router-outlet></router-outlet>

<button (click)="CreateNewChat()">New Chat</button>

<div *ngFor="let chat of ListOfChats; let i = index" class="paddingFive">
  <div class="borderOne paddingFive">ID = {{chat.peer.id}}</div>
  <div class="borderOne paddingFive">
    <span *ngIf="chat.conn">Connected To :: {{chat.conn.peer}} <button (click)="Disconnect(i)">Disconnect</button></span>
    <span *ngIf="!chat.conn">Not Connected</span>
  </div>
  <div class="borderOne paddingFive">
    Connect To Someone :: <input type="text" [(ngModel)]="chat.connectTo"> <button (click)="ConnectToNew(i)">Connect</button>
  </div>
  <div class="borderOne paddingFive">
    <ul>
      <li *ngFor="let chatHis of chat.chatHistory.reverse()">
        <span *ngIf="chatHis.isSender" style="color: red;">Peer : </span>
        <span *ngIf="!chatHis.isSender" style="color: green;">Self : </span>
        {{chatHis.data}} - {{chatHis.dateTime}}</li>
    </ul>
  </div>
  <div class="borderOne paddingFive">
    <input type="text" [(ngModel)]="chat.currentmessage"> <button (click)="sendMessage(i)">Send</button>
  </div>
</div>