<div style="padding: 10px;">
  <router-outlet></router-outlet>
</div>


<button (click)="CreateNewChat()">New Chat</button>

<div *ngFor="let chat of ListOfChats; let i = index" class="paddingFive">
  <div class="borderOne paddingFive">Name = {{chat.name}}</div>
  <div class="borderOne paddingFive">ID = {{chat.peer.id}}</div>
  <div class="borderOne paddingFive">
    <span *ngIf="chat.conn">Connected To :: {{chat.conn.peer}}</span>
    <span *ngIf="!chat.conn">Not Connected</span>
  </div>
  <div class="borderOne paddingFive">
    Connect To Someone :: <input type="text" [(ngModel)]="chat.connectTo"> <button (click)="ConnectToNew(i)">Connect</button>
  </div>
  <div class="borderOne paddingFive">
    <table class="messageTable">
      <tr *ngFor="let chatHis of chat.chatHistory" [ngClass]="chatHis.isSender ? 'backgroundRed' : 'backgroundGreen'">
        <ng-container *ngIf="chatHis.data">
          <ng-container *ngIf="chatHis.data.type == 'simplemessage'">
            <td>{{chatHis.data.data}}</td>
            <td>{{chatHis.data.sendingTime}}</td>
          </ng-container>
          <ng-container *ngIf="chatHis.data.type == 'sendFileRequest'">
            <td>{{chatHis.data.data.fileObject.name}} <button (click)="AcceptFile(chatHis.data.data.fileId, i)">Accept File</button></td>
            <td>{{chatHis.data.sendingTime}}</td>
          </ng-container>
        </ng-container>
      </tr>
    </table>
  </div>
  <div class="borderOne paddingFive">
    <input type="text" [(ngModel)]="chat.currentmessage"> <button (click)="sendMessage(i)">Send</button>
  </div>
  <div class="borderOne paddingFive">
    <input type="file" (change)="fileSelected($event, i)"> <button (click)="sendFileRequest(i)">Send</button>
  </div>
  <div class="borderOne paddingFive">
    <button (click)="VideoCall(i)">Video Call</button>
  </div>
  <div class="borderOne paddingFive">
    <button (click)="AudioCallStart(i)">Audio Call</button>
  </div>
  <div>
    <span>{{chat.id}}_Video_peer</span>
    <video width="320" height="240" autoplay id="{{chat.id}}_Video_peer"></video>
  </div>
  <div>
    <span>{{chat.id}}_Video_me</span>
    <video muted width="320" height="240" autoplay id="{{chat.id}}_Video_me"></video>
  </div>
</div>